ExpertManagment.sln
ExpertManagment.v12.suo
ExpertManagment/App.config
ExpertManagment/Properties/AssemblyInfo.cs
ExpertManagment/Properties/DataSources/Airplane.datasource
ExpertManagment/Properties/DataSources/PrimaryGraph+Verticle.datasource
ExpertManagment/Properties/DataSources/PrimaryGraph.datasource
ExpertManagment/Properties/Resources.Designer.cs
ExpertManagment/Properties/Resources.resx
ExpertManagment/Properties/Settings.Designer.cs
ExpertManagment/Properties/Settings.settings
ExpertManagment/bin/Debug/ExpertManagment.exe
ExpertManagment/bin/Debug/ExpertManagment.exe.config
ExpertManagment/bin/Debug/ExpertManagment.pdb
ExpertManagment/bin/Debug/ExpertManagment.vshost.exe
ExpertManagment/bin/Debug/ExpertManagment.vshost.exe.config
ExpertManagment/bin/Debug/ExpertManagment.vshost.exe.manifest
ExpertManagment/bin/Debug/FSharp.Core.dll
ExpertManagment/bin/Debug/FSharp.Core.xml
ExpertManagment/bin/Debug/Graphviz.dll
ExpertManagment/bin/Debug/MathNet.Numerics.dll
ExpertManagment/bin/Debug/MathNet.Numerics.xml
ExpertManagment/bin/Debug/Microsoft.Msagl.Drawing.dll
ExpertManagment/bin/Debug/Microsoft.Msagl.GraphViewerGdi.dll
ExpertManagment/bin/Debug/Microsoft.Msagl.dll
ExpertManagment/bin/Debug/Newtonsoft.Json.FSharp.dll
ExpertManagment/bin/Debug/Newtonsoft.Json.FSharp.xml
ExpertManagment/bin/Debug/Newtonsoft.Json.dll
ExpertManagment/bin/Debug/Newtonsoft.Json.xml
ExpertManagment/bin/Debug/NodaTime.dll
ExpertManagment/bin/Debug/NodaTime.xml
ExpertManagment/bin/Debug/Матрица. Малайзия.txt
ExpertManagment/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ExpertManagment/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ExpertManagment/obj/Debug/ExpertManagment.Form1.resources
ExpertManagment/obj/Debug/ExpertManagment.Form2.resources
ExpertManagment/obj/Debug/ExpertManagment.Properties.Resources.resources
ExpertManagment/obj/Debug/ExpertManagment.csproj.FileListAbsolute.txt
ExpertManagment/obj/Debug/ExpertManagment.csproj.GenerateResource.Cache
ExpertManagment/obj/Debug/ExpertManagment.csprojResolveAssemblyReference.cache
ExpertManagment/obj/Debug/ExpertManagment.exe
ExpertManagment/obj/Debug/ExpertManagment.pdb
ExpertManagment/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ExpertManagment/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ExpertManagment/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ExpertManagment/packages.config
fonts/icon.png
packages/FSharp.Core.3.1.2.5/FSharp.Core.3.1.2.5.nupkg
packages/FSharp.Core.3.1.2.5/FSharp.Core.3.1.2.5.nuspec
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.xml
packages/Graphviz.2.38.0.2/GVedit.html
packages/Graphviz.2.38.0.2/Graphviz.2.38.0.2.nupkg
packages/Graphviz.2.38.0.2/Graphviz.2.38.0.2.nuspec
packages/Graphviz.2.38.0.2/Graphviz.ini
packages/Graphviz.2.38.0.2/New Text Document.txt
packages/Graphviz.2.38.0.2/Pathplan.dll
packages/Graphviz.2.38.0.2/QtCore4.dll
packages/Graphviz.2.38.0.2/QtGui4.dll
packages/Graphviz.2.38.0.2/Settings.ini
packages/Graphviz.2.38.0.2/Temp.rar
packages/Graphviz.2.38.0.2/acyclic.exe
packages/Graphviz.2.38.0.2/ann.dll
packages/Graphviz.2.38.0.2/bcomps.exe
packages/Graphviz.2.38.0.2/ccomps.exe
packages/Graphviz.2.38.0.2/cdt.dll
packages/Graphviz.2.38.0.2/cgraph.dll
packages/Graphviz.2.38.0.2/circo.exe
packages/Graphviz.2.38.0.2/config.h
packages/Graphviz.2.38.0.2/config6
packages/Graphviz.2.38.0.2/diffimg.exe
packages/Graphviz.2.38.0.2/dijkstra.exe
packages/Graphviz.2.38.0.2/dot.exe
packages/Graphviz.2.38.0.2/dotty.exe
packages/Graphviz.2.38.0.2/edgepaint.exe
packages/Graphviz.2.38.0.2/exparse.h
packages/Graphviz.2.38.0.2/fc-cache.exe
packages/Graphviz.2.38.0.2/fc-cat.exe
packages/Graphviz.2.38.0.2/fc-list.exe
packages/Graphviz.2.38.0.2/fc-match.exe
packages/Graphviz.2.38.0.2/fdp.exe
packages/Graphviz.2.38.0.2/fontconfig.dll
packages/Graphviz.2.38.0.2/fontconfig_fix.dll
packages/Graphviz.2.38.0.2/freetype6.dll
packages/Graphviz.2.38.0.2/gc.exe
packages/Graphviz.2.38.0.2/gd.tgz
packages/Graphviz.2.38.0.2/gd.zip
packages/Graphviz.2.38.0.2/getopt.h
packages/Graphviz.2.38.0.2/glut32.dll
packages/Graphviz.2.38.0.2/gml2gv.exe
packages/Graphviz.2.38.0.2/graphml2gv.exe
packages/Graphviz.2.38.0.2/gts.lib
packages/Graphviz.2.38.0.2/gts.tgz
packages/Graphviz.2.38.0.2/gv2gml.exe
packages/Graphviz.2.38.0.2/gvc.dll
packages/Graphviz.2.38.0.2/gvcolor.exe
packages/Graphviz.2.38.0.2/gvedit.exe
packages/Graphviz.2.38.0.2/gvgen.exe
packages/Graphviz.2.38.0.2/gvmap.exe
packages/Graphviz.2.38.0.2/gvpack.exe
packages/Graphviz.2.38.0.2/gvplugin_core.dll
packages/Graphviz.2.38.0.2/gvplugin_dot_layout.dll
packages/Graphviz.2.38.0.2/gvplugin_gd.dll
packages/Graphviz.2.38.0.2/gvplugin_gdiplus.dll
packages/Graphviz.2.38.0.2/gvplugin_neato_layout.dll
packages/Graphviz.2.38.0.2/gvplugin_pango.dll
packages/Graphviz.2.38.0.2/gvpr.exe
packages/Graphviz.2.38.0.2/gxl2gv.exe
packages/Graphviz.2.38.0.2/iconv.dll
packages/Graphviz.2.38.0.2/intl.dll
packages/Graphviz.2.38.0.2/jpeg62.dll
packages/Graphviz.2.38.0.2/lefty.exe
packages/Graphviz.2.38.0.2/lib/Graphviz.dll
packages/Graphviz.2.38.0.2/libatk-1.0-0.dll
packages/Graphviz.2.38.0.2/libcairo-2.dll
packages/Graphviz.2.38.0.2/libexpat-1.dll
packages/Graphviz.2.38.0.2/libexpat.dll
packages/Graphviz.2.38.0.2/libfontconfig-1.dll
packages/Graphviz.2.38.0.2/libfreetype-6.dll
packages/Graphviz.2.38.0.2/libgdk-win32-2.0-0.dll
packages/Graphviz.2.38.0.2/libgdk_pixbuf-2.0-0.dll
packages/Graphviz.2.38.0.2/libgdkglext-win32-1.0-0.dll
packages/Graphviz.2.38.0.2/libgio-2.0-0.dll
packages/Graphviz.2.38.0.2/libglade-2.0-0.dll
packages/Graphviz.2.38.0.2/libglib-2.0-0.dll
packages/Graphviz.2.38.0.2/libgmodule-2.0-0.dll
packages/Graphviz.2.38.0.2/libgobject-2.0-0.dll
packages/Graphviz.2.38.0.2/libgthread-2.0-0.dll
packages/Graphviz.2.38.0.2/libgtk-win32-2.0-0.dll
packages/Graphviz.2.38.0.2/libgtkglext-win32-1.0-0.dll
packages/Graphviz.2.38.0.2/libltdl-3.dll
packages/Graphviz.2.38.0.2/libpango-1.0-0.dll
packages/Graphviz.2.38.0.2/libpangocairo-1.0-0.dll
packages/Graphviz.2.38.0.2/libpangoft2-1.0-0.dll
packages/Graphviz.2.38.0.2/libpangowin32-1.0-0.dll
packages/Graphviz.2.38.0.2/libpng12.dll
packages/Graphviz.2.38.0.2/libpng14-14.dll
packages/Graphviz.2.38.0.2/librsvg-2-2.dll
packages/Graphviz.2.38.0.2/libxml2.dll
packages/Graphviz.2.38.0.2/lneato.exe
packages/Graphviz.2.38.0.2/ltdl.dll
packages/Graphviz.2.38.0.2/mingle.exe
packages/Graphviz.2.38.0.2/mm2gv.exe
packages/Graphviz.2.38.0.2/neato.exe
packages/Graphviz.2.38.0.2/nop.exe
packages/Graphviz.2.38.0.2/osage.exe
packages/Graphviz.2.38.0.2/patchwork.exe
packages/Graphviz.2.38.0.2/props.txt
packages/Graphviz.2.38.0.2/prune.exe
packages/Graphviz.2.38.0.2/sccmap.exe
packages/Graphviz.2.38.0.2/sfdp.exe
packages/Graphviz.2.38.0.2/smyrna.exe
packages/Graphviz.2.38.0.2/tred.exe
packages/Graphviz.2.38.0.2/twopi.exe
packages/Graphviz.2.38.0.2/unflatten.exe
packages/Graphviz.2.38.0.2/vmalloc.dll
packages/Graphviz.2.38.0.2/zlib1.dll
packages/MathNet.Numerics.3.17.0/MathNet.Numerics.3.17.0.nupkg
packages/MathNet.Numerics.3.17.0/MathNet.Numerics.3.17.0.nuspec
packages/MathNet.Numerics.3.17.0/lib/net35/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/net35/MathNet.Numerics.xml
packages/MathNet.Numerics.3.17.0/lib/net40/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/net40/MathNet.Numerics.xml
packages/MathNet.Numerics.3.17.0/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.17.0/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.17.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.17.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.17.0/license.txt
packages/MathNet.Numerics.3.17.0/readme.txt
packages/Microsoft.Automatic.Graph.Layout.1.0.0/Microsoft.Automatic.Graph.Layout.1.0.0.nupkg
packages/Microsoft.Automatic.Graph.Layout.1.0.0/Microsoft.Automatic.Graph.Layout.1.0.0.nuspec
packages/Microsoft.Automatic.Graph.Layout.1.0.0/lib/net40/Microsoft.Msagl.dll
packages/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1.nupkg
packages/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1.nuspec
packages/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1/lib/Microsoft.Msagl.Drawing.dll
packages/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1/lib/Microsoft.Msagl.GraphViewerGdi.dll
packages/Microsoft.Research.DryadLINQ.MSAGL.3.0.0.1/lib/Microsoft.Msagl.dll
packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nuspec
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/tools/install.ps1
packages/Newtonsoft.Json.FSharp.3.2.2/Newtonsoft.Json.FSharp.3.2.2.nupkg
packages/Newtonsoft.Json.FSharp.3.2.2/Newtonsoft.Json.FSharp.3.2.2.nuspec
packages/Newtonsoft.Json.FSharp.3.2.2/lib/net40/Newtonsoft.Json.FSharp.dll
packages/Newtonsoft.Json.FSharp.3.2.2/lib/net40/Newtonsoft.Json.FSharp.xml
packages/NodaTime.1.3.4/NodaTime.1.3.4.nupkg
packages/NodaTime.1.3.4/NodaTime.1.3.4.nuspec
packages/NodaTime.1.3.4/lib/net35-Client/NodaTime.dll
packages/NodaTime.1.3.4/lib/net35-Client/NodaTime.xml
packages/NodaTime.1.3.4/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1+XamariniOS1/NodaTime.dll
packages/NodaTime.1.3.4/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1+XamariniOS1/NodaTime.xml
packages/QuickGraph.3.6.61119.7/QuickGraph.3.6.61119.7.nupkg
packages/QuickGraph.3.6.61119.7/QuickGraph.3.6.61119.7.nuspec
packages/QuickGraph.3.6.61119.7/lib/net4/CodeContracts/QuickGraph.Contracts.dll
packages/QuickGraph.3.6.61119.7/lib/net4/CodeContracts/QuickGraph.Data.Contracts.dll
packages/QuickGraph.3.6.61119.7/lib/net4/CodeContracts/QuickGraph.Graphviz.Contracts.dll
packages/QuickGraph.3.6.61119.7/lib/net4/CodeContracts/QuickGraph.Serialization.Contracts.dll
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Data.XML
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Data.dll
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Graphviz.XML
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Graphviz.dll
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Serialization.XML
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Serialization.dll
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.XML
packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.dll
packages/repositories.config
